<br /><br />

<div class="content">

    <div>
        <div class="">

            <div class="row">
                <div class="container">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="row form-group">
                            <div class="col-2"><label>Name</label></div>
                            <div class="col-6"><input type="text" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">This is required field</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <div class="col-2"><label>Notes: </label></div>
                            <div class="col-6"><input type="text" formControlName="note" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.note.errors }" />
                                <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
                                    <div *ngIf="f.note.errors.required">This is required field</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row form-group">
                            <div class="col-2"><label>Time: </label></div>
                            <div class="col-6"><input type="date" formControlName="time" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.time.errors }" />
                                <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                                    <div *ngIf="f.time.errors.required">This is required field</div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-8"><button class="custombtn ">Submit</button></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div>

        </div>
    </div>

    <!-- <app-datepicker #dp  (navigate)="date = $event.next"></app-datepicker> -->