<div class="content">

    <div class="row">
        <div class="col-3">
            <div class="teamname">Vacation Management</div>
        </div>
        <div class="col-1">
            <a routerLink="/addVacation" routerLinkActive="active">Add</a>
        </div>
        <div class="col-1">
            <a routerLink="/viewVacation" routerLinkActive="active">View</a>
        </div>
        <br />
    </div> <br />
    <div>

        <div>
            <div class="">
                <div class="">
                    <div class="row">
                        <div class="col-md-8">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="row form-group">
                                    <div class="col-2"><label>Name</label></div>
                                    <div class="col-6">
                                            <select id="selectedEmployee" class="form-control"  ng-model="selectedEmployee">
                                                    <option *ngFor="let employee of employeeModel.employee; index as index"
                                                    value="{{employee.username}}">{{employee.name}}</option>
                                                </select>
                                    </div>
                                </div><br />
                                <div class="row form-group">
                                    <div class="col-2"><label>Reason</label></div>
                                    <div class="col-6"><input type="text" formControlName="reason" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.reason.errors }" />
                                        <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
                                            <div *ngIf="f.reason.errors.required">This is required field</div>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row form-group">
                                    <div class="col-2"><label>From: </label></div>
                                    <div class="col-6"><input type="date" formControlName="from" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.from.errors }" />
                                        <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                                            <div *ngIf="f.from.errors.required">This is required field</div>
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row form-group">
                                    <div class="col-2"><label>To: </label></div>
                                    <div class="col-6"><input type="date" formControlName="to" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.to.errors }" />
                                        <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
                                            <div *ngIf="f.to.errors.required">This is required field</div>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="row form-group">
                                    <div class="col-8"><button class="custombtn ">Add</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-datepicker #dp  (navigate)="date = $event.next"></app-datepicker> -->