<br />
<div ng-app="headerMenu">
   <div ng-controller="mainController" class="mainController" id="mainController">
       
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/vacations">Vacation Management</a>
        <a href="/planning">Planning</a>
        <a href="/notes">Notes</a>
        <a href="/feedback">Feedbacks</a>
        <a href="/employees">Team Management</a>
        <a href="/leads">Leads Section</a>
        <a href="/reports">Reports</a>
      </div>
      
      
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view></div>

        </div>
    </div>
    <span defaultOverlayTarget></span>

    <div #container></div>

</div>


<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>
<app-messages></app-messages>


<footer class="text-center"></footer>