<br />
<div ng-app="headerMenu">
    <div class="row"></div>
    <!-- define angular controller -->
    <div ng-controller="mainController" class="mainController" id="mainController">
        <div>
            <div class="headerMenu">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-1"><a href="#"><i class="fa fa-home"></i> <span class="glyphicon glyphicon-home">
                            </span>Home</a></div>
                    <div class="col-md-1"><a href="#"><i class="fa fa-home"></i> <span class="glyphicon glyphicon-user">
                            </span>About</a></div>
                    <div class="col-md-1"><a href="#"><i class="fa fa-home"></i><span
                                class="glyphicon glyphicon-envelope"> </span> Contact</a></div>
                    <div class="col-md-1"><a href="/login"><i class="fa fa-home"></i><span
                                class="glyphicon glyphicon-log-out"> </span> Logout</a></div>
                </div>
            </div>

            <ul class="nav nav-pills">
                <li role="presentation"><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
                <li role="presentation"><a routerLink="/vacations" routerLinkActive="active">Vacations</a></li>
                <li role="presentation" [hidden]="!isLead"><a routerLink="/planning" routerLinkActive="active">Planning</a></li>
                <li role="presentation"><a routerLink="/notes" routerLinkActive="active">Notes</a></li>
                <li role="presentation"[hidden]="!isLead"><a routerLink="/leads" routerLinkActive="active">Leads</a></li>
                <li role="presentation"[hidden]="!isLead"><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
                <li role="presentation"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>

            </ul>
        </div>
        <div id="main">

            <!-- angular templating -->
            <!-- this is where content will be injected -->
            <div ng-view></div>

        </div>
    </div>
    <span defaultOverlayTarget></span>

    <div #container></div>

</div>


<div [@routeAnimations]="o && o.activatedRouteData 
      && o.activatedRouteData['animation']">
    <router-outlet #o="outlet"></router-outlet>
</div>
<app-messages></app-messages>


<footer class="text-center"></footer>