<br />
<div class="content">
  <div class="teamname">{{scrumTeam}}</div>
  <br />
  <div>
    <div id="planningContainer" style="height: 300px; width: 100%;"></div>

    <!--<div class="teamInfo">
      <ul>
        <li *ngFor="let planning of planning; index as index">
          <div id={{index}} class="planningdetails">
            <ul class="no-border">
              <li class="no-border">
                <div class="row">
                  <app-calendar-cell [planning]=planning></app-calendar-cell>
                </div>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>-->

  </div>
</div>