<div class="content">
    <br />
    <br />
    <app-todo></app-todo>
    <!--<div class="teamInfo">
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Experience</th>
                <th>WhtsApp</th>
                <th>Contact</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeModel.employee">
                    <td><a routerLink="/profile" (click)="loadProfile($event, employee)" routerLinkActive="active">{{employee.name}}</a></td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.username}}</td>
                    <td>{{employee.Experience}}</td>
                    <td>{{employee.WhtsApp}}</td>
                    <td>{{employee.Contact}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
</div>