<div class="content">
    <br />
    <div class="row">
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/vacations')">
            <div class="vacation-quote">“A vacation is what you take when you can no longer take what you’ve been taking.”</div>
            <div class="vacation-comp"></div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/planning')">Planning</div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/employees')">Employees</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/notes')">Notes</div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/vacations')">Reports</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-5 dashboard-comp" (click)="navigateTo('/leads')">Leads</div>
    </div>
    <br /><br />
    <!--<app-todo></app-todo>-->
</div>