
<!--https://www.iconfinder.com/iconsets/leto-blue-project-management-->
<div class="content">
    <div *ngIf="userService.isLead()">
    <br />
    <div class="row">
        <div class="col-sm-3 dashboard-comp" (click)="navigateTo('/vacations')">
            <div class="vacation-quote">Vacation Management
            </div>
            <div class="vacation-comp"></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 dashboard-comp" (click)="navigateTo('/notes')">
            <div class="vacation-quote">Notes</div>
            <div class="notes-comp"></div>
        </div>
        <div class="col-sm-1"></div>
        <div   class="col-sm-3 dashboard-comp" (click)="navigateTo('/employees')">
            <div class="vacation-quote">Team Management</div>
            <div class="employee-comp"></div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div   class="col-sm-3 dashboard-comp" (click)="navigateTo('/planning')">
            <div class="vacation-quote"> Planning</div>
            <div class="planning-comp"></div>
        </div>
        <div class="col-sm-1"></div>
        
        <div   class="col-sm-3 dashboard-comp" (click)="navigateTo('/reports')">
            <div class="vacation-quote">Reports</div>
            <div class="reports-comp"></div>
        </div>
        <div class="col-sm-1"></div>
        <div   class="col-sm-3 dashboard-comp" (click)="navigateTo('/leads')">
            <div class="vacation-quote">Leads Section</div>
            <div class="leads-comp"></div>
        </div>
    </div>
    <br /><br />
    </div>