<div class="content">
    <div class="row">
        <div class="col-3">
            <div class="teamname">Vacation Management</div>
        </div>
        <div class="col-1">
            <a routerLink="/addVacation" routerLinkActive="active">Add</a>
        </div>
        <div class="col-1">
            <a routerLink="/viewVacation" routerLinkActive="active">View</a>
        </div>
        <br />
    </div><br />
    <div>
        <div *ngFor="let vacationResponse of viewVacationModel.vacationResponse" class="vacc_container">
            <div class="moth_div">{{vacationResponse.month}}</div>
            <ul *ngFor="let vacationList of vacationResponse.vacationList">
                <li>{{vacationList.name}}
                    <label> From: </label> {{vacationList.from}} <label> To: </label> {{vacationList.to}}
                </li>
            </ul>
        </div>

    </div>

</div>