<div class="content">
    <div class="row">


        <div class="cal-cell1">
            <div class="row">
                <div class="capacityDiv">Sprint #{{planning.sprintNumber}} </div>
            </div>
            <div class="row">
                <div class="capacityDiv">Capcity - {{planning.capacity}}</div>
            </div>
        </div>
        <div *ngFor="let sprintDay of sprintDays;" class="cal-cell" mat-raised-button matTooltip="Info about the action"
           title = {{getNames(planning,sprintDay)}} [ngClass]="{ 'vacation': checkHaveVacations(planning,sprintDay)=='vacation','novacation': checkHaveVacations(planning,sprintDay)=='novacation' }">
           
           <div class="row">
                <div class="rightAlign">{{getDay(planning,sprintDay)}}</div>
            </div>
            <div class="row">
                <div class="centerAlign">{{getDate(planning,sprintDay)}}</div>
            </div>
        </div>
    </div>
</div>